<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <th:block th:replace="~{partials/partials :: head (title='Submit an Ad')}"></th:block>
</head>

<body>

<nav th:replace="~{partials/partials :: navbar}">
</nav>

<header th:insert="~{partials/partials :: header (heading='Create Ad')}"></header>

<div class="container-fluid">

  <form th:action="@{/ads/create}" th:method="post" th:object="${ad}">
    <div>
      <label class="form-label" for="title">Title:</label>
      <input class="form-control" type="text" th:field="*{title}"><br>
    </div>
    <div>
      <label class="form-label" for="description">Description:</label>
      <textarea class="form-control" th:field="*{description}"></textarea>
    </div>

    <button class="mt-4 btn ads-color-verdigris">Submit</button>
  </form>
</div>

<footer th:insert="~{partials/partials :: footer}" class="ads-page-footer ads-color-french-violet"></footer>

</body>
</html>