<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <th:block th:replace="~{partials/partials :: head (title='Edit Page')}"></th:block>
</head>

<body>

<nav th:replace="~{partials/partials :: navbar}">
</nav>

<header th:insert="~{partials/partials :: header (heading='Edit Stuff')}"></header>

<div class="container-fluid">

  <h2 th:if="${ad == null}">Ad not found</h2>
  <div th:if="${ad != null}">
    <form th:action="@{|/ads/${ad.id}/edit|}" th:method="post" th:object="${ad}">
      <label class="form-label" for="title">Title:</label>
      <input class="form-control" type="text" th:field="*{title}" th:value="${ad.title}"><br>
      <label class="form-label" for="description">Description:</label>
      <textarea class="form-control" th:field="*{description}" cols="30" rows="10" th:text="${ad.description}"></textarea>

      <!--            <input type="hidden" name="userId" th:value="${ad.user.id}">-->


      <button class="mt-2 btn btn-primary">Save</button>
    </form>
  </div>
</div>


<footer th:insert="~{partials/partials :: footer}" class="ads-page-footer ads-color-french-violet"></footer>

<th:block th:replace="~{partials/partials :: scripts}"></th:block>

</body>
</html>