<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <th:block th:replace="~{partials/partials :: head (title='View Single Ad')}"></th:block>
</head>

<body>

<nav th:replace="~{partials/partials :: navbar}">
</nav>

<header th:insert="~{partials/partials :: header (heading='View The Ad You Clicked')}"></header>

<div class="container-fluid">

<!--  <h2 th:if="${ad == null}">Post not found</h2>-->
<!--  <div th:if="${ad != null}">-->
  <h2>Here is the ad:</h2>
  <h3 th:text="${ad.title}"></h3>
  <p th:text="${ad.description}"></p>
  <p th:if="${ad.user} != null">Posted by: [[${ad.user.username}]]</p>
  <a th:href="@{|/ads/${ad.id}/edit|}">Edit</a>
  <a th:href="@{|/ads/${ad.id}/delete|}">Delete</a>
<!--  <a th:href="@{|/ads|}">Delete</a>-->


<!--  </div>-->
</div>

<footer th:insert="~{partials/partials :: footer}" class="ads-page-footer ads-color-french-violet"></footer>

</body>
</html>