<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Roll Dice</title>
</head>
<body>
<!--<header th:fragment="header">-->
  <h1>Guess A Number</h1>
<a href="/guessDice">1</a>
<a href="/guessDice">2</a>
<a href="/guessDice">3</a>
<a href="/guessDice">4</a>
<a href="/guessDice">5</a>
<a href="/guessDice">6</a>

<!--<form action="/guessDice" method="post">-->
<!--&lt;!&ndash;  <label for="email">Your email:</label>&ndash;&gt;-->
<!--&lt;!&ndash;  <input type="email" name="email" id="email">&ndash;&gt;-->
<!--&lt;!&ndash;  <button>Sign up now</button>&ndash;&gt;-->
<!--  <a href="/guessDice">7</a>-->
<!--</form>-->



<form action="/roll" method="get">
  <button>T-Again</button>
</form>
</body>
</html>